<p style="color: green"><%= notice %></p>

<h1>Form of payments</h1>

<div id="form_of_payments">
  <% @form_of_payments.each do |form_of_payment| %>
    <%= render form_of_payment %>
    <p>
      <%= link_to "Show this form of payment", form_of_payment %>
    </p>
  <% end %>
</div>

<%= link_to "New form of payment", new_form_of_payment_path %>
