<% if @hotel.user_id == current_user.id %>
<p style="color: green"><%= notice %></p>
<%= render @hotel %>
  <div class="d-flex gap-2 container">
    <%= link_to "Voltar", hotels_path, class: "btn btn-sm btn-secondary" %>
    <%= button_to "Apagar", @hotel, method: :delete, class: "btn btn-sm btn-danger" %>
  </div>
<% end %>